.wrapper{
    position: relative;
    width: fit-content;
    color: rgb(68, 68, 68);
}
.select{
    background: white;
    padding: 0.78vw 1.04vw;
    width: 25vw;
    font-size: 1.04vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 0.52vw;
}
.arrow{
    transition: all 0.5s ease;
    font-size: 16px;
    transform: rotate(0deg);
}
.arrowActive{
    transform: rotate(180deg);
}
.countries{
    width: 100%;
    background: white;
    list-style: none;
    border-radius: 0.52vw;
    margin-top: 5px;
    height: 0px;
    overflow-y: auto;
    position: absolute;
    transition: all 0.5s ease;
}
.cntrActive{
    height: 160px;
}
.countries::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
    border-radius: 0 0.52vw 0.52vw 0;
}
.countries::-webkit-scrollbar-thumb {
    background-color: #868686;
    border-radius: 0 0.52vw 0.52vw 0;
}
.countries li{
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    display: block;
}
.countries li.liActive{
    display: none;
}
.countries li:first-child{
    border-radius: 0.52vw 0 0 0;
    padding-top: 10px;
}
.countries li:last-child{
    border-radius: 0 0 0 0.52vw;
    padding-bottom: 10px;
}   
.countries li:hover{
    background: rgb(233, 233, 233);
}