.button{
    text-align: center;
}
.button button{
    background-color: teal;
    border: 1px solid white;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button button:hover{
    background: #189d9d;
}
@keyframes modal {
    from {
        /* transform: translateY(-44.5%) scale(0); */
        transform: scale(0);
    }
    to {
        /* transform: translateY(0%) scale(100%); */
        transform: scale(100%);
    }
}
.pop_up{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .80);
    transition: 0.4s ease-in-out;
    animation-name: modal;
    animation-duration: 0.4s;
}
.pop_up_container{
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body{
    margin: auto;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}
.pop_up_body p{
    font-size: 28px;
    font-weight: 600;
    color: #22262D;
    margin-bottom: 40px;
}
.pop_up_body input{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #89909F;
    outline: none;
}
.pop_up_body button{
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 60px auto 0px auto;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: orange;
}
.pop_up_close{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}